@model IEnumerable<CVGS.Models.Game>

@{
    ViewBag.Title = "Game";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Created At
        </th>
        <th>
            Updated At
        </th>
        @*<th>
            Description
        </th>
        <th>
            Developer
        </th>
        <th>
            Publisher
        </th>
        <th>
            ReleasedDate
        </th>
       
        <th>
            Price
        </th>
        <th>
            Category
        </th>
        <th>
            Sub Category
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.releasedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.categoryName)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.gameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gameID })
        </td>
    </tr>
}

</table>
